<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">TODO Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"><span th:text = "${user.userName}"></span></a>
      </li >
      <li class="nav-item">
        <a  sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/logout}">Logout</a>
      </li >
    </ul>
  </div>
</nav>

	<div class ="container">
		<div class = "row">
			<h1> TODO List </h1>
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/TMS/newTask}" class = "btn btn-primary btn-sm mb-3"> Add Task</a>
			</div>
		</div>
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
					<th> Task</th>
					<th> Target Date</th>
					<th> Last Updated Date</th>
					<th> Description </th>
					<th> Task Status </th>
					<th> Actions </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "TODO: ${TODOList}">
					<td th:text = "${TODO.taskName}"></td>
					<td th:text = "${TODO.date}"></td>
					<td th:text = "${TODO.lastUpdateddate}"></td>
					<td th:text = "${TODO.description}"></td>
					<div th:if="${TODO.taskStatus == true}">
							<td>Done</td>
						</div>
					<div class ="form-group" th:if="${TODO.taskStatus == false}">
						<td>Not Done</td>
						</div>
					<td>
						<a th:href = "@{/TMS/updateTODOTask/{tId}(tId=${TODO.tId})}"
						 class = "btn btn-primary">Update</a>
						
						<a th:href = "@{/TMS/deleteTask/{tId}(tId=${TODO.tId})}"
						 class = "btn btn-danger">Delete</a>
						 
					</td>
				</tr>
			</tbody>
		
		</table>
		
	</div>
</body>
</html>